@model ProjetoBackend.Models.Categoria

@{
    ViewData["Title"] = "Edit";
}

<h2 class="m-0 p-0 mt-5 fw-bold" style="text-shadow:0 4px 4px rgba(0,0,0,0.25);color:#504742">Editar</h2>

<h4 class="small-bold-text">Categoria de Produtos</h4>

<hr />
<div class="small-bold-text">
    <!-- Adicionando a tag <form> para a submissão dos dados -->
    <form asp-action="Edit" method="post">
        <input type="hidden" asp-for="CategoriaId" />
        <div class="row">
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" style="background-color: #d9d9d9; border-color: #504742;" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Salvar" class="btn" style="background-color: #B59879; border-color: #B59879; color: white; width: 10%;" />
            </div>
        </div>
    </form>
</div>
<div class="text-back">
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

