@page
@model LoginModel

@{
    ViewData["Title"] = "Login";
}

<div class="login-container mt-5">
    <h2 class="login-title">LOGIN</h2>
    <p class="login-subtitle">Use uma conta local para fazer Login</p>

    <form id="loginForm" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="login-form">
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

        <div class="login-input-group">
            <input asp-for="Input.Email" class="login-input form-control" autocomplete="username" placeholder="Email" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>

        <div class="login-input-group">
            <input asp-for="Input.Password" class="login-input form-control" autocomplete="new-password" placeholder="Senha" />
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>

        <div class="login-checkbox" style="margin-bottom: 5px;">
            <label asp-for="Input.RememberMe" class="checkbox-label">
                <input class="form-check-input" asp-for="Input.RememberMe" />
                Lembrar-me?
            </label>
        </div>

        <!-- Botão de Login -->
        <div class="login-button-container">
            <button type="submit" class="login-button">Login</button>
        </div>

        <!-- Links de Esqueceu a senha, Registrar, Reenviar email -->
        <div class="login-links">
            <p><a href="#" class="login-link">Esqueceu sua senha?</a></p>
            <p><a href="#" class="login-link">Registrar como um novo usuário</a></p>
            <p><a href="#" class="login-link">Reenviar email de confirmação</a></p>
        </div>
    </form>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}