@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Registro de confirmação";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
        <p>
            Este aplicativo não possui atualmente um remetente de e-mail real registrado, consulte <a href="https://aka.ms/aspaccountconf">estes documentos</a> sobre como configurar um remetente de e-mail real.
            Normalmente isso seria enviado por e-mail: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Clique aqui para confimar sua conta</a>
        </p>
    }
    else
    {
        <p>
            Por favor verifique seu e-mail para confirmação
        </p>
    }
}

