@{
    ViewData["Title"] = "Página Inicial";
}


<img src="~/img/bannerpaginainicial.png" alt="Descrição da imagem" style="width: 100%; height: auto;" />

<div>
    <div class="text-center my-4">
        <img src="~/img/LogotipoCrownJewels.png" alt="Logotipo" style="height: 60px;" />
    </div>

    <div class="text-center">
        <p class="font-alegreya text-custom-color">Redes Sociais</p>
    </div>

    <div class="position-relative mb-5 pb-5">
        <div class="d-flex justify-content-center social-icons">
            <a href="#" class="bi bi-instagram"></a>
            <a href="#" class="bi bi-pinterest"></a>
            <a href="#" class="bi bi-tiktok"></a>
            <a href="#" class="bi bi-linkedin"></a>
            <a href="#" class="bi bi-youtube"></a>
        </div>
        <a href="#" class="bi bi-question-circle text-black position-absolute" style="right: 0; top: 0; font-size: 24px;"></a> <!-- Ícone de ajuda -->
    </div>
</div>