@{
    ViewData["Title"] = "Sobre a Equipe";
}

<div class="">
    <h2 class="m-0 p-0 mt-5 fw-bold" style="text-shadow:0 4px 4px rgba(0,0,0,0.25);color:#504742">Sobre nós - Crown Jewels</h2>
    <div class="row align-items-center">
        <p class="col-8" style="font-family:'Open Sans', sans-serif;">
            Bem-vindo(a) à Crown Jewels, onde o luxo encontra a arte, e cada peça é criada com dedicação e atenção aos mínimos detalhes. Somos uma joalheria que valoriza a exclusividade e a autenticidade, proporcionando a você não apenas joias, mas verdadeiras obras de arte que contam histórias e momentos especiais.
        </p>
        <img class="col-4 w-25" src="~/img/imgsobre01.png" />
    </div>
</div>
<div class="">
    <h2 class="m-0 p-0 mt-5 fw-bold" style="text-shadow:0 4px 4px rgba(0,0,0,0.25);color:#504742">Nossa missão:</h2>
    <div class="row flex-row-reverse align-items-center">
        <p class="col-8" style="font-family:'Open Sans', sans-serif;">
            Nossa missão é trazer ao mercado joias de alta qualidade, que combinem tradição e modernidade. Cada peça que você encontra em nossa coleção foi criada com os mais altos padrões de excelência, desde a escolha criteriosa dos materiais até a finalização artesanal. Valorizamos o design exclusivo, inspirado em tendências atemporais, e utilizamos pedras preciosas raras e metais nobres para garantir que você tenha em mãos algo verdadeiramente único.
        </p>
        <img class="col-4 w-25" src="~/img/imgSobre02.png" />
    </div>
</div>

<div class="">
    <h2 class="m-0 p-0 mt-5 fw-bold" style="text-shadow:0 4px 4px rgba(0,0,0,0.25);color:#504742">Qualidade Artesanal:</h2>
    <div class="row align-items-center">
        <p class="col-8" style="font-family:'Open Sans', sans-serif;">
            Na Crown Jewels, prezamos pela perfeição. Nossas joias passam por um processo rigoroso de produção, que envolve designers talentosos e artesãos experientes, que trabalham com precisão para criar peças que vão além da estética, entregando durabilidade e elegância. Garantimos que cada joia seja feita com os melhores materiais, incluindo ouro 18 quilates, prata pura e pedras preciosas de origem ética.
        </p>
        <img class="col-4 w-25" src="~/img/imgSobre03.png" />
    </div>
</div>

<div class="">
    <h2 class="m-0 p-0 mt-5 fw-bold text-center" style="text-shadow:0 4px 4px rgba(0,0,0,0.25);color:#504742">
        Nossa Equipe:
    </h2>
    <div class="row flex-row-reverse align-items-center">
        <p class="col-8" style="font-family:'Open Sans', sans-serif;">
            Emanuelly: Nossa designer, responsável por transformar ideias em realidade. Com um olhar artístico e atenção aos detalhes, Emanuelly cria designs que mesclam sofisticação clássica com inovações modernas, trazendo um toque único a cada peça.
        </p>
        <img class="col-4 w-25" src="~/img/imgSobre04.png" />
    </div>
</div>

<div class="">
    <div class="row align-items-center">
        <p class="col-8" style="font-family:'Open Sans', sans-serif;">
            Ítalo: Ele é o mestre artesão, com anos de experiência no trabalho manual com metais preciosos e pedras raras. Ítalo se dedica a garantir que cada joia seja impecavelmente produzida, prezando pela qualidade e durabilidade em cada etapa da produção.
        </p>
        <img class="col-4 w-25" src="~/img/imgSobre05.png" />
    </div>
</div>

<div class="mb-5 pb-5">
    <div class="row flex-row-reverse align-items-center">
        <p class="col-8" style="font-family:'Open Sans', sans-serif;">
            Rayssa: Ela cuida de todo o processo de atendimento ao cliente e personalização. Com um olhar sensível e uma abordagem acolhedora, Rayssa ajuda nossos clientes a encontrarem ou criarem a peça perfeita, garantindo uma experiência exclusiva e personalizada em cada compra.
        </p>
        <img class="col-4 w-25" src="~/img/imgSobre06.png" />
    </div>
</div>

<div class="text-center my-4">
    <img src="~/img/LogotipoCrownJewels.png" alt="Logotipo" style="height: 60px;" />
</div>

<div class="text-center">
    <p class="font-alegreya text-custom-color">Redes Sociais</p>
</div>

<div class="position-relative mb-5 pb-5">
    <div class="d-flex justify-content-center social-icons">
        <a href="#" class="bi bi-instagram"></a>
        <a href="#" class="bi bi-pinterest"></a>
        <a href="#" class="bi bi-tiktok"></a>
        <a href="#" class="bi bi-linkedin"></a>
        <a href="#" class="bi bi-youtube"></a>
    </div>
    <a href="#" class="bi bi-question-circle text-black position-absolute" style="right: 0; top: 0; font-size: 24px;"></a> <!-- Ícone de ajuda -->
</div>
